<div class="container">
  <h1 class="robo page-header">Welcome to OK-Source!</h1>
  <div class="row home-body">
    <div class="col-md-offset-1 body-text">
      <p>OK-Source is an opensource knowledge base for engineering resources. Our mission is to bring the industry together, 
      using collective knowledge to solve complex problems through adapted technology.  </p>
    </div> 
      
  </div>
</div>