<div class="container">
  <h1 class="robo page-header">Welcome to Know-It-All!</h1>
  <div class="row home-body">
    <div class="col-md-offset-1 body-text">
      <p>Know-It-All is an opensource knowledge base for engineering resources. Our mission is to bring the industry together, 
      using collective knowledge to solve complex problems through adapted technology.  </p>
      <br>
      <br>
      <p>It's no secret that the engineering industry is conservative. It consists largely of businesses 
      driven by stubborn senior engineers unwilling to adopt new technologies. When you encounter an issue
      in today's world, you don't dig through a book to solve the problem, you turn to the internet! 
      Unfortunately, until now, there hasn't been a lot of helpful engineering information online.
      This restricts a modern engineer to using outdated technology. The knowlege pipeline has
      a kink in it restricting the flow to younger folks. We need a resource to 
      unite us in our knowledge. As engineers, we should be first to embrace this technology. </p>
    </div> 
    <div class="container">
      <div class="page-header">
        <h1>Questions</h1>
      </div>
    </div>
  </div>
</div>